.passengerBg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../components/images/passengerBg.jpg");
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  width: 100%;
}

.passengerTitle {
  text-align: center;
}

.mainLogo {
  margin-top: 50px;
  width: 40%;
}

.maintext {
  margin-bottom: 200px;
}
